<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.bleBasic" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Duo Fan</name>
    <description>
        A smart fan
    </description>
    <author email="" href="http://phonegap.com">
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
